/*-- body --*/
body {

margin: auto;

width:600px;

body-align: center;

background: #f5f5f5 url("");

border-left: 0px solid ;

border-right: 0px solid ;}

/* -- Fonte -- */
p, a, body, td, tr, div {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #5f0303;
	font-family: Tahoma;
	line-height: 12px;
	cursor: crosshair;
	
}


/* -- Titulo  -- */
.subtitulo {
        color: #895803;
        font-family: Georgia;
        font-size: 12px;
        line-height: 11px;
        background-color: #f5f5f5;
	border-bottom: 0px solid #E6E1DB;
	border-right: 0px solid #E6E1DB;
	border-top: 0px solid #E6E1DB;
	border-left: 0px solid #E6E1DB;
        padding: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        width: 150px;
}

/* -- Links -- */

a, a:link{
color: #895803;
cursor: crosshair;
TEXT-DECORATION: none;
}

a:hover {
color: #442f0a;  
border-dotten: 0px dotted #C8BEB0;  
background-color: #f5f5f5;
cursor: crosshair;
TEXT-DECORATION: none;
letter-spacing: 2px;
}


/* ----------- Estilos ---------- */

i {	color: #442f0a; TEXT-DECORATION: none;
}
b {	color: #895803; TEXT-DECORATION: none;
}
u {	color: #5f0303; TEXT-DECORATION: none;
}

/* -- Caixas -- */
input, textarea, select 
	{font-family: georgia; 
	padding: 0px 0px 0px 0px; 
	font-size: 12px;
	color: #895803;
	background: #c5c2c2;
	border-top: 0px solid #DFD9D1;
	border-left: 0px solid #DFD9D1;
	border-right: 0px solid #DFD9D1;
	border-bottom: 0px solid #DFD9D1;
	-moz-border-radius: 0px 0px 0px 0px;

        }


input, textarea:hover {
	color: #895803;
	font-family: georgia;  	
	 font-weight: none;
        font-size: 12px;
	border-top: 0px solid #DFD9D1;
        border-bottom: 0px solid #DFD9D1;
        border-left: 0px solid #DFD9D1;
        border-right: 0px solid #DFD9D1;
        background-color: #f5f5f5;
        letter-spacing: 1px;
-moz-border-radius: 1px 0px 0px 0px;  align: center;}


.comentarios {
	font-family: georgia; 
	font-size: 12px; 
	padding: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #c5c2c2;
	border-top: 0px solid #E6E1DB;
	border-left: 0px solid #E6E1DB;
	border-right: 0px solid #E6E1DB;
	border-bottom: 0px solid #E6E1DB;
	width: 340px;
	}




/* -- img -- */

a img {
filter:alpha(opacity=50);
-moz-opacity:0.90;
opacity:0.90;
}

a:hover img {
filter:alpha(opacity=200);
-moz-opacity:1.25;
opacity:1.25;
}

/*---barra---*/

#barra {
	color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
background: #f5f5f5;
height: 10px;
}

#barra .tubo {
text-align:center;	
color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
background: #f5f5f5;
height: 10px;
border-top: 0px solid #F4EFEF;
margin: 0 auto; padding:10;
width: 600px;}

#barra .fvbarraf {
width: 600px;
height: 10px;
	color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
-moz-border-radius: 0px;
cursor: crosshair;
background-color: #f5f5f5;
-moz-border-radius: 6px 6px 6px 6px;

}

#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra a:active  {
	color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
font-family: georgia;
font-size: 11px;
line-height: 10px;
text-align:center;
padding: 5px 5px 5px 5px;
text-transform:uppercase;
text-decoration: none; 
-moz-border-radius: 6px 6px 6px 6px;
cursor: crosshair;
}

#barra .fvbarra a:hover {
	color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
background: #f5f5f5;
font-family: georgia;
font-size: 11px;
line-height: 10px;
text-align:center;
padding: 5px 5px 5px 5px;
text-transform:uppercase;
text-decoration: none; 
-moz-border-radius: 0px 0px 0px 0px;
cursor: crosshair;
letter-spacing: 1px;
}
#barra .fvbarra {
font: bold 12px;
font-family: georgia;
	color: #5f0303;
text-shadow: 0px 0px 0px #E2DED8;
cursor: crosshair;
}

#barra .barraimg {
opacity:.0;}

}
