/*..........REF. IMAGEM DO FUNDO DO POST - LATERAIS ...........*/


html {
background: #42230d url("");
border-top: 0px solid #fff0f5
margin-top: 0px;
cursor: hand;}



/* .......... REF IMAGEM DO FUNDO - CENTRAL ........... */

body {
margin: auto;
width:300px;
body-align: center;
background: #f6f6ee url("");
border-left: 0px solid ;
border-right: 0px solid ;}


/* ............. REF A FONTE DO FLOG ................*/
p, a, body, td, tr, div {
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #5b0005 ;
	cursor: hand;
	font-family: Verdana;
	line-height: 12px;
}


/* ....... REF AOS LINKS - IMAGENS E BORDAS ....... */

a, a:link, a:visited, a:active{
color:#994a4e;
font: 12px Verdana;
letter-spacing: 0px;
-webkit-transition-duration: 0.9s;
text-transform: none uppercase;
TEXT-DECORATION: none;
cursor: hand;}

a:hover {
color:  #994a4e;   
background: #2f1d1e url("") no-repeat   ;
border-bottom: 0px dashed none;
font: 12px Verdana;
letter-spacing: 2px;
-webkit-transition-duration: 0.9s;
padding-left: 0px;
text-transform: none uppercase;
TEXT-DECORATION: none;
cursor: hand;}

HR{
border: 0px dashed  #dd4b51;
}


/* ............... REF AO TiTULO - FIXO .............. */

.titulo {
border-bottom: 0px dotted  #FB607F; font-weight: normal; font-size: 18px; color:#900610;
}

body
{
background-attachment: fixed
}


/* ............. REF BARRAS DO TOP ............. */

}
#barra {
width: 100%; 
height: 39px;
background: #f6f6ee; (""); 
border-top: 0px solid #350f0f
border-bottom: 0px solid #eb51ad;
text-align: center;
}
#barra .tubo {
padding:0;
background: #f6f6ee url(""); 
width: 100%;
}
#barra .fvbarraf {
padding:0;
width: 100px;
height: 15px;
background: transparent;
border: #f3f2ed 0px dashed;
font: bold 11px georgia; color: #8f020f; 
}
#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra a:active  {
color: #8f020f;
line-height: 10px;
font-size: 9px;
text-decoration: none;
text-align:center;
padding:0;
border:0;
text-transform:uppercase;
position: relative; top:auto; left:auto;
background:transparent;
}
#barra .fvbarra a:hover {
color: #632f00;
line-height: 12px;
font-size: 9px;
text-align:left;
background:transparent;
text-transform:uppercase;
}
#barra .fvbarra {
font: bold 11px georgia;
color: #632f00
}

#barra .barraimg {
opacity:.0;
}

/*............ REF. AO POST............*/
.linha {
border-bottom: 0px solid #fc9cbf;
}

.tabela {
text-align: justify;
color: #bb6c83;
background: #fbf7f2;
margin: 0px;
border-right: 0px solid #e8e8e8;
border-top: 0px solid #e8e8e8;
border-left: 0px solid #e8e8e8;
border-bottom: 0px solid #e8e8e8;
-moz-border-radius: 0px 0px 0px 0px;
padding: 3px;
font-size: 11px;
font-family : tahoma;
width: 460px;}

.tabela2 {
font-size: 11px;
color: #746c6f;
font-family: tahoma;
text-align: center;
border-left: 0px solid #f0d2df;
border-right: 0px solid #f0d2df;
border-bottom: 0px solid #f0d2df;
border-top: 0px solid #f0d2df;
background-color: #f8e9cb;
height: 15px;
width: 400px;
padding: 2px 2px 2px 2px;
-moz-border-radius: 0px 0px 8px 8px;}

/* ............ REF. OPACIDADE NAS IMAGENS............ */
a img {
filter:alpha(opacity=60);
-moz-opacity:0.90;
opacity: 0.70;
}

a:hover img {
filter:alpha(opacity=100);
-moz-opacity:0.90;
opacity: 1.00;
}

/* ---------------- REF AO RODape? ------------- */

#footer {
background-position: bottom;
width: 900px;
height:30px;
clear: both;
text-align: center;
background: #bb6c83url("");
}


/* ............. REF CAIXA COMENTARIO - CSS ............ */

input, textarea {
	color:  #bb6c83;
	font-family: tahoma;
	text-align: center;
	font-size: 12px;
	background-color:  #f3f2ed;
        border-bottom:1px dashed #d5e6da;
        border-right:1px dashed #d5e6da;
        border-top:1px dashed  #d5e6da;

	-moz-border-radius: 20px 20px 20px 20px;
background-image : url("");

}

/*............ REF CAIXA COMENTaRIO DOS AMIGOS .........*/

.cmttext {
align:center;
text-align: center; 
font-family:tahoma;
font-size:12px;
font-weight: normal;
background-color:  #f3f2ed;
background-image : url("");
padding: 0px;
}

/*............. REF CAIXA EXTERNA - ACOLHEDORA ...........*/

.comentarios {

font-family: tahoma; 
        color:#da738c;
        background-color: #f3f2ed;
        border: 0px solid #F2FFB3;
	font-size: 12px; 
        padding: 5px;
	-moz-border-radius: 6px 6px 6px 6px;
         width: 340px;
        }

p {margin:0px; margin-top:9px;}
a {text-decoration: none; color: #; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
a:hover{ text-decoration: none; color: #; -webkit-transition: all 0.1s ease-out; -moz-transition: all 0.1s ease-out; transition: all 0.1s ease-out;}
a:active{outline: none;}
a:focus{-moz-outline-style: none;}
:-moz-any-link:focus{outline: none;}
b{font-weight: bold;}
