/*-- body --*/
body {
	background-color: #FFD2E9;
		margin: 0px;
	padding:0;
}

/* -- Fonte -- */
p, a, body, td, tr, div {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #F40B8B;
	font-family: Tahoma;
                line-height: 11px;
	
}


/* -- Titulo  -- */

.titulo {
font-family: Tahoma; 
font-size: 12px;
width: 340px;
color: #F40B8B;
margin-left: 300px;
-moz-border-radius: 3px 3px 3px 3px;}
}

.subtitulo {
font-family: Tahoma;
font-size: 12px;
font-aling: center;
width: 90px;
color: #681766;
background-color: #FFD9EC;
-moz-border-radius: 3px 3px 3px 3px
}

/* -- Links -- */

a, a:link{
color: #339966;
background-color : #FFD9EC; 
cursor: crosshair;
TEXT-DECORATION: none;
}
a:hover {
color: #FF6600;
text-transform:uppercase;
cursor: crosshair;
TEXT-DECORATION: none;
}


/* -- Estilos -- */

i {	color: #F40B8B; TEXT-DECORATION: none;
b {	color: #F40B8B; TEXT-DECORATION: none;
}
u {	color: #F40B8B; TEXT-DECORATION: none;
}

}

/* ----------- tables ----------- */

.table1 {color: #339966;
text-shadow: 0px 1px 0px #;
	background: #FFD9EC;
	border-bottom: 1px solid #B67CC2;
	border-right: 1px solid #B67CC2;
	width: 380px;
	font-family: Tahoma;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 12pt;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin-bottom: 2px;
	-moz-border-radius: 0px;
}



.table2 {color: #F40B8B;
text-shadow: 0px 1px 0px #;
	-moz-border-radius: 0px 0px 0px 0px;
	background-color: #FFCEE7;
	border-bottom: 1px solid #B67CC2;
	border-right: 1px solid #B67CC2;
	padding: 3px 3px 3px 3px;
	text-align: justify;
	width: 380px;
	}

/* -- Caixas -- */

input, textarea, select {
        font-family: tahoma; 
	font-size: 12px;
	color:  #6f6f6f;
             border-right: 1px solid #B67CC2;
             border-left: 1px solid #;
             border-top: 1px solid #;
             border-bottom: 1px solid #B67CC2;
	background-color: #FFD9EC;
	-moz-border-radius: 3px 3px 3px 3px;
}



/* -- img -- */

a img {
filter:alpha(opacity=50);
-moz-opacity:0.90;
opacity:0.90;
}

a:hover img {
filter:alpha(opacity=200);
-moz-opacity:1.25;
opacity:1.25;
}


/* -- Seleleção Colorida -- */

::-moz-selection{
background:#FFFFFF;
color: #;
}
background:#FFFFFF;
color:#;
}

/*---barra---*/

#barra {
	color: #F40B8B;
background: #FFD2E9;
height: 48px;
}


#barra .tubo {
text-align:center;	
color: #F40B8B;
text-shadow: 0px 1px 0px #fffffff;
background: #FFD2E9;
height: 10px;
border-top: 6px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
margin: 0 auto; padding:10;
width: 100%;}

#barra .fvbarraf {
width: 100px;
height: 17px;
	color: #F40B8B;
text-shadow: 0px 1px 0px #FFFFFF;
-moz-border-radius: 0px;
cursor: crosshair;
background-color: #FFD2E9;
-moz-border-radius: 6px 6px 6px 6px;

}

#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra a:active  {
	color:#681766;
text-shadow: 0px 1px 0px #FFFFFF;
font-family: Tahoma;
font-size: 11px;
line-height: 16px;
text-align:center;
padding: 5px 5px 5px 5px;
text-transform:uppercase;
text-decoration: none; 
-moz-border-radius: 6px 6px 6px 6px;
cursor: crosshair;
}

#barra .fvbarra a:hover {
	color: #681766;
text-shadow: 0px 1px 0px #681766;
background: #FFD9EC;
border-top: 6px solid #FFFFFF;
border-bottom: 1px solid #FFFFFF;
font-family: Tahoma;
font-size: 11px;
line-height: 15px;
text-align:left;
padding: 5px 5px 5px 5px;
text-transform:uppercase;
text-decoration: none; 
-moz-border-radius: 0px 0px 0px 0px;
cursor: crosshair;
}
#barra .fvbarra {
font: bold 12px;
font-family: Tahoma;
color: #681766;
text-shadow: 0px 1px 0px #681766;
cursor: crosshair;
}

#barra .barraimg {
opacity:.0;}

}
