/*-- body --*/
body {
	background-color: #D0D2D9;
		margin: 0px;
	padding:0;
}

/* -- Fonte -- */
p, a, body, td, tr, div {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #838AA6;
	font-family: Tahoma;
	line-height: 12px;
	cursor: crosshair;
	
}


/* -- Titulo  -- */
.subtitulo {
font-family: Tahoma;
font-size: 12px;
font-aling: center;
width: 80px;
color: #838AA6;
background-color: #C8CAD2;
-moz-border-radius: 3px 3px 3px 3px
}


/* -- Links -- */

a, a:link{
color: #A39C98;
cursor: sw-resize;
TEXT-DECORATION: none; 
}

a:hover {
color: #918984;
cursor: crosshair;
TEXT-DECORATION: none;
position: relative; left: 0px; top: 0px;
}

/* -- FOOTLINK@UNIVERSOMUSICA -- */

#footlink {
        text-align: center;}

#footlink a {
        padding: 3px 4px 3px 4px;
        margin: 0 1px 0 1px;}

#footlink a:link, #footlink a:visited, #footlink a:active {
        color: #838AA6;
        background-color: #;
        border: 0px dotted #;
        font-size: 10px;
        -moz-border-radius: 5px;}


#footlink a:hover {
        color: #A39C98;
        background-color: #;
        border: 0px dotted #;
        font-size: 10px;
        -moz-border-radius: 5px;}

}


/* ----------- Estilos ---------- */

i {	color: #838AA6; TEXT-DECORATION: none;
}
b {	color: #838AA6; TEXT-DECORATION: none;
}
u {	color: #A39C98; TEXT-DECORATION: none;
}
z {	color: #A39C98; TEXT-DECORATION: none;
}

/* ----------- tables ----------- */

.table {
	background: #C8CAD2;
	width: 280px;
	font-family: Tahoma;
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 12pt;
	text-align: center;
	padding: 0px 0px 0px 0px;
        margin-bottom: 2px;
	-moz-border-radius: 0px;
}



.fundopost {
	color:#A39C98;
	-moz-border-radius: 0px 0px 0px 0px;
	background-color: #;
	padding: 3px 3px 3px 3px;
	text-align: justify;
	width: 280px;
	}

/* -- Caixas -- */

input, textarea, select 
	{font-family: Tahoma; 
	padding: 0px 0px 0px 0px; 
	font-size: 12px;
	color: #A39C98;
	background: #CBCDD5;
	border-top: 1px solid #CBCDD5;
	border-left: 1px solid #CBCDD5;
	border-right: 1px solid #CBCDD5;
	border-bottom: 1px solid #CBCDD5;
	-moz-border-radius: 0px 0px 0px 0px;

        }

.comentarios {
	font-family: tahoma; 
	font-size: 12px; 
	padding: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #C8CAD2;
	border-bottom: #C8CAD2;
	width: 340px;
	}




/* -- img -- */

a img {
filter:alpha(opacity=50);
-moz-opacity:0.90;
opacity:0.90;
}

a:hover img {
filter:alpha(opacity=200);
-moz-opacity:1.25;
opacity:1.25;
}


/* -- Seleleção Colorida -- */

::-moz-selection{
background:#DDDEE3;
color: #;
}
background:#DDDEE3;
color: #;
}
