/*-- body --*/
body {
	background-color: #191919;
		margin: 0px;
	padding:0;
}

/* -- Fonte -- */
p, a, body, td, tr, div {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #5B5B5B;
	font-family: Tahoma;
	line-height: 12px;
	cursor: crosshair;
	
}



/* -- Titulo  -- */

.titulo {
        border-bottom: none;
        font-family: Tahoma;
        font-size: 12px;
        color: #5B5B5B;
        width: 100%;
        -moz-border-radius : 0px 0px 0px 0px;}

.subtitulo {
font-family: Tahoma;
font-size: 12px;
font-aling: center;
width: 110px;
color: #5B5B5B;
background-color: #303030;
-moz-border-radius: 3px 3px 3px 3px
}

/* -- Links -- */

a, a:link{
color: #AE1C02;
cursor: crosshair;
TEXT-DECORATION: none;
}
a:hover {
color: #4FA018;    
cursor: crosshair;
background:#303030;
TEXT-DECORATION: none;
}


/* -- Estilos -- */

b {	color: #AE1C02; TEXT-DECORATION: none;
}
i {	color: #4FA018; TEXT-DECORATION: none;
}
z {	color: #4FA018; TEXT-DECORATION: none;
}
a {	color: #AE1C02; TEXT-DECORATION: none;


}

.table2 {
color: #5B5B5B;
font: 12px tahoma;
text-align: center; 
padding: 1px 1px 1px 1px;
background-color : #191919;
-moz-border-radius: 1px 1px 1px 1px;
width:320px;
}


.fundopost {
color: #3E3E3E;
font-size: 12px 
font-family: Century;
width: 300px;
-moz-border-radius: 1px 1px 1px 1px;
}

.table1 {
        color: #3E3E3E;
       background-color: #1D1D1D;
       border-top: 0px solid #191919;
       border-left: 7px solid #303030;
       border-right: 7px solid #303030;
       border-bottom: 0px solid #191919;
       padding: 7px 7px 1px 1px;
        width: 200px;
        -moz-border-radius: 7px 7px 7px 7px;
        line-height: 12px;
        font-family: Tahoma;
        }



/* -- Caixas -- */

input, textarea, select 
	{font-family: Tahoma; 
	padding: 2px 2px 2px 2px; 
	font-size: 12px;
	color: #4FA018;
	background: #1D1D1D;
	border: 1px solid #1D1D1D;
	-moz-border-radius: 4px 4px 4px 4px;

        }


/* -- img -- */

a img {
filter:alpha(opacity=50);
-moz-opacity:0.90;
opacity:0.90;
}

a:hover img {
filter:alpha(opacity=200);
-moz-opacity:1.25;
opacity:1.25;
}


/* -- Seleleção Colorida -- */

::-moz-selection{
background:#303030;
color: #4FA018;
}
background:#303030;
color: #4FA018;
}

