/*---- Css by: Alyy Rosa // Flogvip.net/yeahavril ----*/

body {
	   background-image: none;
	   background-attachment: fixed;
	   background-color: #8087a2;
       width: 65%;
	   margin-left: 17%;
}


/*--- Fonte ---*/
p, a, body, td, tr, div {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 10px;
color: #b4bbd5;
line-height: 12px;
cursor: n-resize;	
}


 
/*--- Link ---*/

a, a:link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #eceabd;
	text-transform: lowercase;
	text-shadow: 1px 0px 0px #b5b48c;
}

a:hover {
	color: #eceabd;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	cursor: e-resize;
	text-transform: capitalize;
	text-decoration: blink;
	text-shadow: 1px 0px 0px #b5b48c;
}

a:visited, a:active {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #d2d1b1;
	cursor: e-resize;
	text-transform: capitalize;
	text-decoration: blink;
	text-shadow: 1px 0px 0px #b5b48c;
	
}
	

/*----- Estilos -----*/

b   {
	color: #eceabd;
}

u  	{
	color: #d2d1b1;
}

i   {
	color: #d2d1b1;
}

strong {
	cursor: e-resize;
	color: #eceabd;
	font-weight: normal;
	font-style: normal;
	text-shadow: 1px 0px 0px #b5b48c;
}




/*---- Titulo ----*/

.titulo {
	font-family: Times;
	font-size: 14px;
	letter-spacing: 2px;
	color: #eceabd;
	background-color: none;
	text-shadow: 1px 0px 0px #b5b48c;
	margin-left: 45px;
	padding: 0px 0px 28px 0px;
	width: 280px;

}



/*----- Sub Titulo ----*/

.subtitulo {
	font-family: Times;
	font-size: 12px;
	font-weight: bold;
	color: #eceabd;
	margin-bottom: 5px;
	background-color: #979fbd;
	border-bottom: 3px solid #d2d1b1;
	text-transform: capitalize;
	padding: 3px 1px 2px 1px;
	letter-spacing: 1px;
	width: 108px;
}

#header {
    text-align: center;
    margin-top: 16px;
}

/*---- Comentários ----*/

input, textarea, select { 

	color: #cdd2e8;
    background-color: #979fbd;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	line-height: 10px;
	padding-right: 15px;
	padding-left: 15px;
    text-align: left;
	border: 1px dashed #eceabd;
	}


.comentarios {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	color: #b4bbd5;
	background-color: #8087a2;
	width: 320px;
	text-align: center;
}

/*---- Opacidade das Imagems  ----*/

a img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.70;
	opacity: 0.70;
	-webkit-border-radius: 5px 5px 5px 5px;
}

a:hover img {
filter:alpha(opacity=100);
-moz-opacity:0.90;
opacity:0.90;
-webkit-border-radius: 30px 0px 30px 0px;
}



/*---- Seleção Colorida ----*/

::-moz-selection{
background:#none;
color:#cdd2e8;
}
background:#none;
color:#cdd2e8;
}



/*----- Barra -----*/

#barra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	font-size: 9px;
    height: 36px;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    color: #eceabd;
    background-color: #8087a2;
} 



#barra .tubo {
	color: #eceabd;
	text-align: justify;
	background: #8087a2;
	width: 101%;
}


#barra .fvbarraf {
    width: 65px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
    font-weight: bold;
    font-style: bold;
    text-transform: capitalize;
    color: #eceabd;
    background-color: #8087a2;

}


#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra a:active  {
	color: #eceabd;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-transform: capitalize;
	line-height: 8px;
	text-align: center;
	background-color: #8087a2;
	-webkit-border-radius: 10px;
	text-shadow: 1px 0px 0px #b5b48c;
        magin-left: -3px;
        magin-right: -3px;
}


#barra .fvbarra a:hover {
	color: #eceabd;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 8px;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-decoration: blink;
	background-color: #8087a2;
	text-shadow: 1px 0px 0px #b5b48c;
        magin-left: 0px;
        magin-right: 0px;
}

#barra .fvbarra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 0px;
	font-weight: normal;
	font-style: normal;
	text-transform: capitalize;
	color: #eceabd;
}

#barra .barraimg{
    opacity:.0;
}


/*---- Post ----*/


 .table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
    line-height: 10px;
	text-align: justify;
	color: #cdd2e8;  
	padding: 4px 4px 5px 4px;
	background-color: #979fbd;
    border: 5px solid #8c94b2;
	border-bottom: 8px solid #8c94b2;
    -webkit-border-radius: 0px 0px 15px 15px;
    width: 300px;
}


.table1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
    line-height: 10px;
	text-align: left;
	color: #cdd2e8;  
	padding: 2px 2px 3px 2px;
	background-color: #929ab7;
    border-left: 5px solid #eceabd;
    border-right: 5px solid #eceabd;
    width: 286px;
}


.table2 {
	color: #cdd2e8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	background-color: #979fbd;
	padding: 2px 2px 3px 2px;
	border-bottom: 1px solid #8c94b2;
	border-right: 1px solid #8c94b2;
	width: 362px;
}

.table3 {
	
	 Color: #cdd2e8;
	 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	 font-size: 9px;
     line-height: 10px;
	 background-color: #979fbd;
	 padding: 2px 2px 3px 2px;
	 border-left: 5px solid #8c94b2;
     border-right: 5px solid #8c94b2;
     width: 328px;
}

/*---- Fim ----*/

#footer {
	Color: #eceabd;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9px;
	text-align: center;
	width: 265px;
	background-color: #979fbd;
	border: #979fbd solid 5px;
	-webkit-border-radius: 10px 10px 0px 0px;
}


/*---- Css by: Alyy Rosa // Flogvip.net/yeahavril ----*/
