.titulo {
color: #ffffff;
font-family: georgia;
font-weight: bold;
font-style: bold;
letter-spacing: 1px; 
font-size: 16px;
padding: 1px;
text-transform: uppercase;
background-color: #transparent;
}

.subtitulo {http://noadsbiz.freewebhostingarea.com/ftp/index.php
color: #ffffff;
font-size: 11px;
line-height: 11px;
background-color: #transparent;
border-bottom: none;
border-right: none;
border-top: none;
border-left: none;
padding: 3px 3px 3px 3px;
-moz-border-radius: 0px 0px 0px 0px;
width: 90px;
letter-spacing: 1px;
}
body {
width: 800px;
body-align: center;
background-color: #bdced3;
margin: 0 auto;
cursor: defaut ;
-moz-border-radius: 10px;
border: 0px solid #bdced3;
}
html { background: #bdced3 url("http://media.tumblr.com/tumblr_lsbd9zZOTu1qmflp2.jpg");
-moz-border-radius: 10px; align: center; }
/* -- fonte e link -- */

P, body, td, tr, div {
font-style: normal;
font-weight: normal;
font-size: 11px;
color: #ffffff;
font-family: Verdana;
cursor: crosshair;
line-height: 11px;
}

a, a:link{
	color: #ffffff;
	TEXT-DECORATION: none;}

a:hover {
	color: #ffffff;
	TEXT-DECORATION: none;}
}

/* -- tags -- */

	u {color: #69d0b0; TEXT-DECORATION: none;}
	n {color: #646f91; TEXT-DECORATION: none;}
        s {color: #ffffff; TEXT-DECORATION: none;}
        b {color: #69d0b0; TEXT-DECORATION: none;}
	strong {color: #ffffff; line-height: 14px; font-weight: normal; letter-spacing: 2px; }


/* -- opacidade de imagens -- */

a img {
filter:alpha(opacity=90); 
-moz-opacity:0.90; 
opacity:1.0;
}

a:hover img {
filter:alpha(opacity=90); 
-moz-opacity:0.90; 
opacity:1.0;
}

/* -- tabelas -- */

.table1 {
	font: 11px verdana;
	font-weight: normal;
	text-align: justify;
	text-transform: normal;
	letter-spacing: 0px;
	color: #ffffff;
        width: 430px;  
        background-color: #ffffff;
        border-left: 7px solid #ffffff;
        border-top: 0px solid #ffffff;
        border-right: transparent;
        border-bottom: transparent; 
}
.table2 {
        font: 11px verdana;
	font-weight: normal;
	text-align: justify;
	text-transform: normal;
	letter-spacing: 0px;
	color: #a3cbfc; 
        width: 420px; 
        background-color: #ffffff;        
        border-left: 3px solid #b7d7ff;
        border-top: 3px solid #ffffff;
        border-right: 3px solid #b7d7ff;
        border-bottom: 3px solid #b7d7ff;
}
.table3 {
        font: 12px verdana;
	font-weight:normal;
        font-style: normal;
	text-align: center;
	text-transform: normal;
	letter-spacing: 0px;
	color: #ffffff; 
        width: 480px; 
        background-color: #ffffff;        
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        border-right: transparent;
        border-bottom: transparent;
}
.table4 {
        font: 15px terminal;
	font-weight:normal;
        font-style: normal;
	text-align: normal;
	text-transform: normal;
	letter-spacing: 0px;
	color: #000000; 
        width: 390px; 
        background-color: transparent;        
        border-left: transparent;
        border-top: transparent;
        border-right: transparent;
        border-bottom: transparent;
}
.tab2 {
        font: 11px verdana;
	font-weight: normal;
	text-align: justify;
	text-transform: normal;
	letter-spacing: 0px;
	color: #b7d7ff; 
        width: 500px; 
        background-color: #000000;        
        border-left: transparent;
        border-top: transparent;
        border-right: 0px solid #bdced3;
        border-bottom: 0px solid #bdced3;
}

.tab3 {
 font: 11px verdana;
	font-weight: normal;
	text-align: center;
	text-transform: normal;
	letter-spacing: 0px;
	color: #69d0b0;
        width: 420px; 
        background-color: #b7d7ff;        
        border-left: 0px solid #ffffff;
        border-top: 3px solid #ffffff;
        border-right: 0px solid #ffffff;
        border-bottom: 3px solid #ffffff;
}

/* -- comentários -- */

input, textarea, select {
	color: #5a6587;
        background-color: #bdced3;
	font-size: 11px;
	padding: 1px;
	font-family: verdana;
	line-height: 11px;
	border: 1px dashed #bdced3;}

.comentarios {
font-family: verdana;
font-size: 11px;
padding: 5px;
color: #ffffff;
border: none;
-moz-border-radius: 5px 5px 5px 5px;
background-color: #bdced3;
width: 340px;
} 


/* -- seleção colorida -- */

::-moz-selection{
background: #ffffff;
color: #2c3c6e;
}

::selection{
background: #ffffff;
color: #2c3c6e;
}

/* -- barra -- */
#barra {
align: center;
margin: auto;
width: 100%;
height: 41px;
background: transparent;
border-top: 0px solid #ffffff;
border-bottom: 0px solid #bdced3;
}

#barra .tubo {
text-align: center;
background: #bdced3 ; 
width: 100%;
border-top: 0px solid #bdced3;
height: 36px;
-moz-border-radius: 0px 0px 3px 3px;
padding: 10;
width: 100%}

#barra .fvbarraf {
width: 100px;
height: 15px;
background: #0f1b41;
font: normal 11px Verdana; 
color: #0f1b41; 
border: 0px dashed #bdced3;
}

#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra 

a:active  {
color: #ffffff;
font-family: verdana;
font-size: 11px;
line-height: 15px;
padding: 2px 2px 2px 2px;
text-transform: capitalize;
text-align: center;
text-decoration: none; 
background-color: #bdced3;
border: 0px solid; #bdced3;
letter-spacing: 1px;}

#barra .fvbarra a:hover {
color: #bdced3;
font-family: verdana;
font-size: 11px;
line-height: 10px;
text-align: center
text-transform: capitalize;
padding: 3px;
text-decoration: none; 
background-color: #ffffff;
border: 0px solid #bdced3;
letter-spacing: 1px;}

#barra .fvbarra {
font: normal 11px Verdana;
color: #bdced3; 
}

#barra .barraimg {
opacity:.0;}
