body {body-align: right; width: 900px;   margin: auto;}
html  	{background: #e5ddd8; border: 0px solid #e5ddd8;}
p, a, body, td, tr, div {color: #efeae7;}
body {background: url() #efeae7; 
 }
   
p, a, body, td, tr, div {
font-style: normal;
font-weight: normal;
font-size: 11px;
color: #7c6c63;
font-family: verdana;
}


a, a:link{color: #7c7c7d; cursor: w-resize;
TEXT-DECORATION: none; font-weight: ;}

a:hover {color: #5f5f5f; cursor: w-resize;
TEXT-DECORATION: none; font-weight: ; cursor: Pointer;
background-color: #;
border-bottom: 0px dashed #f1e3d2;
}


.titulo {font: 11px georgia; font-weight: bold; text-transform: none; font-weight: italic;}

/* --- caixas ---*/

input, textarea, select 
	{font-family: Verdana; 
	font-size: 11px;
	cursor: size;
	color: #7c6c63;
        border-bottom: 0px solid #c9c9c9;
        border-top: 0px solid #c9c9c9;
        border-right: 0px solid #c9c9c9;
        border-left: 0px solid #c9c9c9;
	background-color: #efeae7;
        -moz-border-radius: px;
        line-height:12px;
        padding: 5px;
}


::-moz-selection
{color: #;
background: #;}

::selection
{color: #;
background: #efeae7;}

/* ------------ BARRA-------------- */

#barra {
height: 100px;
font-size: 10px; 
color:#f9e1ef;
background: #e5ddd8;
}

#barra .tubo {
text-align:center;
background:#e5ddd8;
margin: 0 auto; 
padding:0px;
height: 10px;
width: 100%;}

#barra .fvbarraf {
width: 100px;
height: 10px;
font-family: Droid Serif;
font-size: 10px; 
color:#333333;
text-decoration: bold;
text-transform: Uppercase; 
-moz-border-radius: 0px 0px 0px 0px;
background-color: #efeae7;
border: 1px dotted #453a3a;
}

#barra .fvbarra a:link, #barra .fvbarra a:visited , #barra .fvbarra a:active  {
color: #d3c3b9;
font-family: Droid Serif;
font-size: 10px;
line-height: 45px;
text-align:center;
text-transform: Uppercase;
padding: 11px;
height: 70px;
text-decoration: none; 
-moz-border-radius: 0px 0px 0px 0px;
background-color: #7c6c63;
transition: all 0.5s ease-out;
}

#barra .fvbarra a:hover {
color: #d3c3b9;
cursor: Pointer;
font-family: Droid Serif;
font-size: 10px;
line-height: 45px;
height: 70px;
margin-top: 5px;
text-align:left;
padding: 11px;
text-transform: uppercase;
text-decoration: ; 
background-color: #8b7b72;
}


#barra .fvbarra {
font: bold 10px Droid Serif;
text-decoration: bold; 
text-transform: Uppercase;
height: 70px;
color: #e5ddd8; 
}

#barra .barraimg {
opacity:.0;}
 
        
#footer {color: #7c6c63;
font: 11px verdana; 
background: #dbcfc8;
border-top: 0px dashed #91b3af;
-moz-border-radius: 0px;
line-height: 14px;
text-align:center;
padding: 4px;
text-decoration: none; 
cursor: text;}
/*--------Post by -------*/

.fundopost{
background: #e9e3df url() bottom repeat;
border-bottom: 6px solid #ded4ce;
border-top: 6px solid #ded4ce;
border-right: 1px solid #ded4ce;
border-left: 1px solid #ded4ce;
        text-align: justify;
        padding: 3px 3px 3px 3px;
        width: 500px;	
        -moz-border-radius: 0px 0px 0px 0px;
        line-height: 13px;
        font-family: verdana;}

.esquerda {
width: 96px;
height: 54px;
float: left;
margin: 0;
text-align: center;
font-family: arial, georgia;
background: #efeae7;
border-bottom: 1px solid #dbcec6;
border-top: 1px solid #dbcec6;
border-right: 1px solid #dbcec6;
border-left: 1px solid #dbcec6;
border-radius: 5px;

}

.direita{
width: 387px;
height: 70px;
float: right;
margin: 0;
text-align: center;
font-family: arial, georgia;
background: #efeae7;
border-bottom: 0px solid #201b21;
border-top: 0px solid #201b21;
border-right: 4px solid #7c7c7d;
border-left: 0px solid #201b21;
-moz-border-radius: 4px 4px 4px 4px;

}

.table {
font-family: verdana;
line-height: 13px;
color: #7c6c63;
font-size: 11px;
border-bottom: 2px solid #d6cac3;
background-color: #efeae7;
padding: 3px;
-moz-border-radius: 0px 0px 0px 0px;
width: 400px;}



/* --- negrito, italico, sublinhado --- */

	i {color: #736469; TEXT-DECORATION: none;}
	u {color: #736469; TEXT-DECORATION: none;}
	b {color: #7c7c7d; TEXT-DECORATION: none;}
       linha {color: #d3cc71; TEXT-DECORATION: dotted;}

/* --- Menu  --- */
#footlink {
text-align:center;
clear: both;
line-height:18px;}
#footlink a:link, #footlink a:visited, #footlink a:active {
color: #7c6c63;
font-size : 7pt;
padding: 5px 4px 3px 4px;
text-transform: uppercase;
background-color: #efeae7;
-moz-border-radius: 1px;
border-top: 4px solid #e1d6cf;
border-left: 1px solid #e1d6cf;
border-right: 1px solid #e1d6cf;
border-bottom: 4px solid #e1d6cf;}

#footlink a:hover {
color: #7c7c7d;
font-size : 7pt;
padding: 3px 4px 3px 4px;
text-transform: uppercase;
background-color: #efeae7;
-moz-border-radius: 1px;
border-top: 7px solid #e1d6cf;
border-right: 1px solid #e1d6cf;
border-left: 1px solid #e1d6cf;
border-bottom: 7px solid #e1d6cf;

}

Opacidade by maite flogvip ladygaga

-webkit-transition: all 0.7s ease-out; 
-moz-transition: all 0.7s ease-out; 
transition: all 0.7s ease-out;
-webkit-transition-duration: 0.9s;
-webkit-transition: all 0.6s ease-out; 
-moz-transition: all 0.6s ease-out; 
transition: all 0.6s ease-out;
-webkit-transition-duration: 0.9s;

a img {-moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
 -moz-border-radius: 4px 4px 4px 4px;  
-webkit-transition:0.8s linear;
filter:alpha(opacity=100); -moz-opacity:1.0; opacity:1.0; -webkit-transition: opacity 0.7s linear; -moz-border-radius: 20px 20px 20px 20px; }
a:hover img {-moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  -moz-border-radius: 4px 4px 4px 4px; 
-webkit-transition:0.8s linear; -moz-opacity:0.80; opacity:0.80;-webkit-transition: opacity 0.7s linear;}

